body {
background-color: rgba(124, 105, 87, 0.863);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
}

p {
    text-align: center;
    color: white;
    padding: 20px 20px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;

    color: white;
}

#encabezado {
    background-color: rgba(202, 101, 101, 0.767);
}

.boton {
    text-decoration: none;
    color: black;
    background-color: rgb(142, 194, 240);
    border: 2px solid rgb(114, 116, 212);
    padding: 5px;
    border-radius: 5px;
    display: i;
}

#opciones {
    text-align: center;
    list-style: none;
    /*elimina los puntos, viñetas*/
}

#opciones li {
    display: inline-block;
    padding: 30px;
}

.img {
    color: white;
}

#final{
    background-color: rgba(107, 202, 219, 0.644);
    text-align: center;
}
form{
    text-align: end;
}
h4{
    padding: 30px 20px;
    text-align: center;
}

img{
    padding: 20px 20px;
}
section{
    margin: 20px 20px;
    background-color: rgba(201, 149, 72, 0.795);
}

picture {
    display: flex;
    justify-content: center;
}